@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Navigation bar */

body {
  background-color: rgb(37, 41, 51);
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgb(90, 90, 90), rgb(85, 85, 85));
  color: white;
  font-family: "Exo 2";
  padding: 0.5em 0em 0.5em 0em;
  border-style: none none solid none;
  border-color: rgb(49, 49, 49);
  box-shadow: 0 0 0.5em black;
  border-width: 1px;
}

#navbar-links {
  display: flex;
  flex-direction: row;
}

#navbar-links > li {
  list-style-type: none;
}

.nav-link {
  display: flex;
  text-decoration: none;
  text-align: center;
  padding-right: 1em;
  font-size: 1.5em;
  color: white;
  transition: 1s;
}

.nav-link:hover {
  transition: 0.2s;

  color: rgb(59, 129, 235);
}

@media only screen and (max-width: 768px) {
  #navbar {
    justify-content: center;
  }

  .nav-link {
    padding-right: 0;
  }
}

#navbar-links {
  padding: 0;
  margin-right: 0;
}

.nav-link {
  display: block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Navigation bar */

/* Welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#header {
  font-size: 4em;
  font-family: "Exo 2";
  margin-bottom: 0;
  color: white;
}

#header2 {
  font-size: 1.5em;
  font-family: "Exo 2";
  font-weight: 300;
  color: rgb(3, 100, 245);
}

/* Welcome section */

/* Projects section */

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 100%;
}

.project-tile {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
  background-image: linear-gradient(rgb(28, 73, 110), rgb(50, 100, 141));
  padding-bottom: 2em;
  border-radius: 2px;
}

.project-tile-header {
  background-image: linear-gradient(rgb(90, 90, 90), rgb(85, 85, 85));
  border-radius: 2px;
  border-color: rgb(49, 49, 49);
  box-shadow: 0 0 0.1em black;
  border-width: 2px;
  text-align: center;
  font-size: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-top: -1em;
}

.project-tile-img {
  display: block;
  justify-content: center;
  margin: auto;
  width: 750px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.project-tile-text {
  text-decoration: none;
  font-family: "Source Code Pro";
  color: white;
  transition: 0.5s;
}

.project-tile-text > small {
  color: rgb(255, 111, 55);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 200ms, opacity 200ms;
}

.project-tile-text:hover > small {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 200ms;
}

@media only screen and (max-width: 768px) {
  .project-tile-img {
    width: 90vw;
  }
  .project-tile-text > small {
    display: none;
  }
}
/* Projects section */

/* Contact section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#contact-header {
  font-family: "Source Code Pro";
  color: white;
  font-size: 2em;
  margin-bottom: 2em;
}

.contact-link {
  text-decoration: none;
  font-family: "Source Code Pro";
  margin: 0.8em;
  font-size: 1.5em;
  color: white;
  transition: 0.2s;
}

.contact-link:hover {
  transition: 0.2s;
  border-style: none none solid none;
  border-width: 2px;
  color: rgb(59, 129, 235);
}

@media only screen and (max-width: 768px) {
  .contact-link {
    display: block;
    justify-content: center;
    text-align: center;
  }
}
/* Contact section */

/* Footer */

.footer {
  text-align: center;
  font-family: "Source Code Pro";
  font-size: 1em;
  border-style: solid none none none;
  border-width: 3px;
  border-radius: 1px;
  border-color: rgb(50, 100, 141);
}

.footer > p {
  color: rgba(255, 255, 255, 0.349);
  font-size: 0.8em;
  line-height: 0.4em;
}
/* Footer */
